<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ConfigFile" value="C:\temp\PPC_Fidelis\config.xml"/>
    <add key="MailTemplatesPath" value="C:\TEMP\PPC_Fidelis\MailTemplates\"/>
    <add key="MailPicturesPath" value="C:\TEMP\PPC_Fidelis\MailTemplates\Pictures\"/>
    <add key="ClientFile" value="C:\TEMP\PPC_Fidelis\clients.xml"/>
    <add key="CityByZipFile" value="C:\TEMP\PPC_Fidelis\cities.xml"/>
  </appSettings>
</configuration>